body{
  background-color:#ffffff;
  
}

// .bigstokes{
//   position: absolute;
//   background-color: rgb(0, 0, 0);
//   border-radius: 2px;
//   height: 4px;
//   width: 100vw;
//   margin: 0 auto;
//   top: 80px;
// }  

.customContainer {
  position: absolute;
  width: auto;
  height: 50vh;
  left: 10px;
  top: 80px;
  li {
    margin-bottom: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 700;
    // text-transform: uppercase;
    margin-right: 30px;
    border-radius: 4px;
    color: #000000;
  }
}


.faceContainer{
  height: 90vh;
  .faceimg  {
    height: 400px;
    width: 400px;
    margin: 0 auto;
    margin-top: 40px;
    display: block;
    .beardsList, 
    .glassesList,
    .hairstylesList,
    .accessoriesList,
    .piercingsList,
    .hatsList {
      display: none;
      .rayban {
        display: block;
      }
    }
  }
};



.face {
  stroke-width: 3px;
  stroke: #000;
  fill: rgb(255, 255, 255);
}

.glasses,
.ej,
.lunette_rondes,
.lunette_ingenieur{
  stroke: #000;
  stroke-width: 2px;
  fill: rgb(0, 0, 0);
}

.rich-hairstyles,
.hairstylesList,
.punk,
.afro,
.mi-long,
.hairstyle-swag {
  stroke: #000;
  stroke-width: 3px;
  fill: rgb(242, 196, 43);
  stroke-miterlimit: 10;
}

.mouth {
  stroke: #000;
  stroke-width: 2px;
  fill: rgb(232, 220, 233);
}

.mouthImg {
  z-index: 100;
}

.beardy,
.gros_bouc,
.rouflaquettes,
.beard,
.mouth_beard,
.moustache_italiano {
  stroke: #000;
  stroke-width: 3px;
  fill: rgb(242, 196, 43);
  stroke-miterlimit: 10;
}

.cigarette {
  stroke: #000;
  stroke-width: 3px;
  fill: rgb(255, 255, 255);
}

.piercing-right,
.piercing-nose {
  stroke: #000;
  stroke-width: 3px;
  fill: rgb(255, 255, 0);
}


.beardsContainer,
.hairstylesContainer, 
.glassesContainer,
.hatsContainer,
.accessoriesContainer,
.piercingsContainer  {
  position: absolute;
  display: none;
  bottom: 0;
  height: 30vh;
  width: 100%;
  display: flex;
  overflow: scroll;
  li {
    // border: solid 1px rgb(0, 0, 0);
    // border-collapse: collapse;
    // background-color: rgb(172, 172, 172);
    svg {
      // border: solid 1px black;
      padding: 2px 20px;
      width: 100px;
      height: 90%;
      border-collapse: collapse;
      
    }
    
  }
}




.visible {
  display: block;
}

