

.faceContainer{
  height: 70vh;
  svg  {
    height: 400px;
    width: 400px;
    margin: 0 auto;
    display: block;
    .beardsList, 
    .glassesList,
    .hairstylesList,
    .accessoriesList,
    .piercingList,
    .hatsList {
      display: none;
    }
  }
}


.face {
  fill: none;
  stroke-width: 3px;
  stroke: #000;
}

.glasses,
.ej,
.lunette_rondes,
.lunette_ingenieur{
  stroke: #000;
  stroke-width: 2px;
  fill: #000;
}

.rich-hairstyles,
.hairstylesList,
.punk,
.afro,
.mi-long,
.hairstyle-swag {
  stroke: #000;
  stroke-width: 3px;
  fill: rgb(242, 196, 43);
  stroke-miterlimit: 10;
}

.mouth {
  stroke: #000;
  stroke-width: 2px;
  fill: rgb(232, 220, 233);
}

.mouthImg {
  z-index: 100;
}

.beardy,
.gros_bouc,
.rouflaquettes,
.beard,
.mouth_beard,
.moustache_italiano {
  stroke: #000;
  stroke-width: 3px;
  fill: rgb(242, 196, 43);
  stroke-miterlimit: 10;
}

.cigarette {
  stroke: #000;
  stroke-width: 3px;
  fill: rgb(255, 255, 255);
}

.piercing-right,
.piercing-nose {
  stroke: #000;
  stroke-width: 3px;
  fill: rgb(255, 255, 0);
}

.beardsContainer {
  display: none;
  bottom: 0;
  height: 30vh;
  width: 100%;
  display: flex;
  li {
    svg {
      width: 300px;
      height: 100%;
    }
  }
}

.hairstylesContainer, 
.glassesContainer,
.hatsContainer {
  background-color: aqua;
  display: none;
  bottom: 0;
  height: 30vh;
  width: 100%;
  display: flex;
  li {
    svg {
      width: 300px;
      height: 100%;
    }
  }
}

.visible {
  display: block;
}